share
archive
tnylpo
nasm
emu2
upx
aztecc.tar.gz
pcdev.tar.gz
bin/emu2
bin/tnylpo
bin/upx
syncaz
**/*.lock
**/*.lha
**/*.zip
**/./.D*
**/*.log
**/*.bin
**/hello*.cmd
**/hello*.com
**/hello*.exe
**/*.lib
**/.*.swp
**/*.obj
**/*.o
**/*.h86
**/hack*.img
**/cpmtest.img
**/cdostest.img
**/cpmhd.img
**/ccpm86.img
**/cpm86.img
**/cdos.img
**/*.sym
**/*.lst
**/*.map
**/.vscode
**/push
bin/doscat
bin/hexcom
