**/.*.swp
**/.DS_Store
share
archive
tnylpo
nasm
cmdtools
emu2
upx
aztecc.tar.gz
pcdev.tar.gz
bin/emu2
bin/tnylpo
bin/upx
bin/bin2cmd
bin/cmdinfo
bin/exe2cmd
syncaz
**/*.lock
**/*.lha
**/*.zip
**/./.D*
**/*.log
**/*.bin
**/hello*.cmd
**/hello*.com
**/hello*.exe
**/*.lib
**/.*.swp
**/*.obj
**/*.o
**/*.lin
**/*.h86
**/*.r86
**/hack*.img
**/cpmtest.img
**/cdostest.img
**/cpmhd.img
**/ccpm86.img
**/cpm86.img
**/cdos.img
**/*.sym
**/*.lst
**/*.map
**/.vscode
**/push
bin/doscat
bin/hexcom
examples/*.prt
examples/hellod.a
examples/ctemp.tok
examples/pastemp.tok
examples/comndata.*
examples/8087.sim
examples/hellomsb.cb
